In [ ]:
understanding the variables in python

In [3]:
x = 2
y = 3

In [4]:
z = x+y

print(z)

5

In [ ]:
Rules for declaring the variables in python

In [ ]:
Rule No : 1 = No namespaces while declaring the variables

In [5]:
first name = 'Prial'

print(first name)

SyntaxError: invalid syntax (2281367475.py, line 1)

In [6]:
firstname = 'prial'

print(firstname)

prial

In [ ]:
Rule no 2 : A variable should not start with a number **

In [7]:
1name = 'taneja'

print(1name)

SyntaxError: invalid syntax (3329839199.py, line 1)

In [8]:
name1 = 'taneja'

print(name1)

taneja

In [ ]:
Rule no 3 : A variable should not contain any special characters.
    
@$%&

In [9]:
name@ = 'neha'

print(name2)

SyntaxError: invalid syntax (1505998037.py, line 1)

In [ ]:
for executing the cells we have to press shift + enter button

In [ ]:
introduction to datatypes in python :
    1. String ---> str
    
    2. Number ---> integers (int) and floats (float) (decimal)
    
    3. Lists ----> list
    
    4. Tuples ----> tuple
    
    5. Dictionaries ---> dict

In [ ]:
classification of data types in python : 
    
    1. Mutable ----> which we can not edit and alter ====> flexible in nature
    
    2. Immutable -----> which we cannot able to edit or alter ===> fixed in nature

In [ ]:
Introduction to string datatype :
    
Defination : A string is a series of characters declared in quotes.
    
Classification : It is classified as an immutable datatype
    
how to declare the string datatypes..? 

3 approaches of declaring the string.

1. single quote

2. double quote

3. triple quote

In [10]:
name1 = 'ravi' # single quote

print(name1)

ravi

In [11]:
name2 = "rupali" 

print(name2)

rupali

In [12]:
name3 = """prial"""

print(name3)

prial