In [ ]:
Introduction to list datatype :

In [ ]:
defination : A list is a collection of items declared in a particular order.

classification : it is classified as a mutable datatype
    
how to declare the list datatype --------> []

In [2]:
students = ['arvind', 'sneha', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna']

In [3]:
print(students)

['arvind', 'sneha', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna']

In [4]:
type(students)                    type(variable) = to determine datatype

list

In [ ]:
# how to access the above elements from the list?

In [ ]:
introduction to indexing : 0,1,2,3,4.......

In [ ]:
# req : i wanted to access john name from the above list?

In [5]:
print(students[2])                         print(variable[index]) to print desired name/thing

john

In [6]:
print(students[5])

aradhya

In [7]:
print(students[5].title())                  print(variable[index].title())- correct format

Aradhya

In [ ]:
1. how to add new elements to the list

2. how to modify the elements in the list

3. how to delete the elements in the list

In [8]:
print(students)

['arvind', 'sneha', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna']

In [ ]:
# req : i want to add 'sachin' name to the above list....

In [9]:
students.append('sachin')                 append() = add in last

In [10]:
print(students)

['arvind', 'sneha', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin']

In [ ]:
# req : i want to add 'lavanya' name to the above list....

In [11]:
students.append('lavanya')

In [12]:
print(students)

['arvind', 'sneha', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin', 'lavanya']

In [ ]:
#req : i want to add 'chetna' name to the 2nd index.

In [13]:
students.insert(2,'chetna')                          insert(index, entry) at desired position

In [14]:
print(students[2])

chetna

In [15]:
print(students)

['arvind', 'sneha', 'chetna', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin', 'lavanya']

In [ ]:
interview ques : what is the difference btw append and insert method in a list datatype? **

In [ ]:
# how to modify the elements in the list.

In [16]:
print(students)

['arvind', 'sneha', 'chetna', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin', 'lavanya']

In [ ]:
#req : i want to modify chetna name to 'charu'

In [17]:
print(students[2])

chetna

In [18]:
students[2] = 'charu'                           varible[index] = modified name/object

In [19]:
print(students[2])

charu

In [20]:
print(students)

['arvind', 'sneha', 'charu', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin', 'lavanya']

In [ ]:
# how to delete elements in the list.

In [21]:
print(students)

['arvind', 'sneha', 'charu', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin', 'lavanya']

In [ ]:
#req : i want to delete 'david' from the above list?

In [22]:
del students[4]                                     del variable[index]

In [24]:
print(students)

['arvind', 'sneha', 'charu', 'john', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin', 'lavanya']