In [ ]:
organising the list datatype :

In [1]:
students = ['rohan', 'naveed', 'vindhya', 'asna', 'laiba', 'radhika', 'nikhil']

In [2]:
print(students)

['rohan', 'naveed', 'vindhya', 'asna', 'laiba', 'radhika', 'nikhil']

In [ ]:
# req : i wanted to print naveed name, what is the index i have to use...?

In [3]:
print(students[1])

naveed

In [4]:
print(students[1].title())

Naveed

In [5]:
cars = ['kia', 'audi', 'ciaz', 'benz', 'suzuki', 'bmw']

In [6]:
print(cars)

['kia', 'audi', 'ciaz', 'benz', 'suzuki', 'bmw']

In [ ]:
# i want to arrange the above list in alphabetical order....A - Z

In [ ]:
# two approaches :

1. temp approach -----> sorted ====> we can retain the orignal order

2. permanent approach ---> sort =====> changes are applied permanently

In [7]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'ciaz', 'kia', 'suzuki']

In [ ]:
benz and bmw ====> e and m

In [8]:
print(cars)

['kia', 'audi', 'ciaz', 'benz', 'suzuki', 'bmw']

In [9]:
cars.sort()

In [10]:
print(cars)

['audi', 'benz', 'bmw', 'ciaz', 'kia', 'suzuki']

In [11]:
print(cars)

['audi', 'benz', 'bmw', 'ciaz', 'kia', 'suzuki']

In [ ]:
interview questions : what is the diff between sorted and sort method in a list...?

In [ ]:
# req :  want to print the list in the reverse order.....?

In [12]:
print(cars)

['audi', 'benz', 'bmw', 'ciaz', 'kia', 'suzuki']

In [13]:
cars.reverse()

In [14]:
print(cars)

['suzuki', 'kia', 'ciaz', 'bmw', 'benz', 'audi']

In [ ]:
# req : i want to count the no of elements present in the list...?

In [15]:
len(cars)

6

In [ ]:
Slicing of the list datatype :

In [16]:
print(students)

['rohan', 'naveed', 'vindhya', 'asna', 'laiba', 'radhika', 'nikhil']

In [ ]:
# general syntax of slicing :

In [ ]:
print(list[startvalue : stop value : step count])

In [ ]:
Note : stop value is always exclusive. + 1 to include the stop value.

In [ ]:
# req : i want to include rohan and naveed in a list?

In [17]:
print(students[0:1])

['rohan']

In [18]:
print(students[0:2])

['rohan', 'naveed']

In [19]:
print(students[2:4])

['vindhya', 'asna']

In [20]:
print(students[4:6])

['laiba', 'radhika']

In [21]:
print(students[0:8:2])                    [0:8(stop value + 1):step count]

['rohan', 'vindhya', 'laiba', 'nikhil']

In [22]:
print(students[0:8:3])

['rohan', 'asna', 'nikhil']